body,html{
    background: url('https://i.pinimg.com/564x/95/68/0c/95680c96ac2c9c546d26fb47134fb304.jpg');
    /* background-repeat: no-repeat;
    background-size: cover; */
}


.painel{
    background-color: rgb(14, 56, 124);
    border:5px solid black;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    opacity:0.70;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}  
#date{
    background-color: aquamarine;
    margin-left:35%;
    margin-right: 30%;
    border-radius: 10px;
    border-radius: 10px;
}
#botao{
    background-color: aquamarine;
    margin-left: 36%;

}
h3{
    color: white;
    margin-left: 40%;
    font-size: 30px;
}

.imagem{
    margin-left: 30%;
    margin-right: 20%;
    width: 400px;
}
.imagem{
    margin-left: 30%;
    margin-right: 20%;
    width: 400px;

}
#descricao{
    color: white;
}